@model DumDum_Star.Models.Views.ErrorModel
@{
    ViewBag.Title = "Ошибка — DumDum-Star";
    Layout = null;
}

<div>
    <p>@Model.ID</p>

    <p>@Convert.ToInt32(Model.Code) @Model.Code</p>

    <p>@Model.Message</p>
</div>
