<!DOCTYPE html>

@using DumDum_Star.Models

<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,700;1,100&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="~/content/css/header.css" />
        <script type="text/javascript" src="~/content/js/base.js"></script>
    </head>

    <body>
        <header class="header-base">
            <div class="header-nav">
                <div>
                    <img id="header-icon" src="~/icons/light/header/secondary-small.svg" alt="Time to chippin' IN!" 
                         onload="setTitleForIcon()"/>
                </div>

                <div>
                    <a class="user-string" asp-controller="Home" asp-action="Error">@SessionData.GetHeaderText()</a>

                    <a asp-controller="Home" asp-action="Error">
                        <img src="~/icons/light/header/basket/basket.png" alt="Your basket." />
                    </a>
                </div>
            </div>
        </header>

        <main>
            @RenderBody()
        </main>

        <footer>
        </footer>
    </body>
</html>
