@using DumDum_Star.Models.Views;
@model AuthorizationModel
@{
    ViewBag.Title = "Авторизация — DumDum-Star";
}

<link rel="stylesheet" href="~/content/css/register.css" />

<div class="background">
    <div class="form">
        <h1>Вход</h1>
        <form asp-action="LogIn">
            <div class="input-fields">
                <div class="input-form">
                    <label>Ваш логин:</label>
                    @Html.TextBoxFor(model => model.Login, new { placeholder = "Логин..." })
                </div>

                <div class="input-form">
                    <label>Пароль:</label>
                    @Html.PasswordFor(model => model.Password, new { placeholder = "Пароль..." })
                </div>
            </div>

            <div class="input-form">
                <input type="submit" value="Войти"/>
            </div>
            <a class="form-text" asp-action="Registration">Зарегистрироваться</a>
        </form>
    </div>
</div>
