.header-base {
    display: flex;
    flex: auto;
    flex-direction: column;
    gap: 8px;

    border-bottom: 1.13px solid gray;
}

.header-nav {
    display: flex;
    flex: auto;
    flex-direction: row;
    padding: 1% 10% 1% 10%;
}

    .header-nav > div {
        display: flex;
        flex: auto;
        justify-content: flex-start;
    }

        .header-nav > div ~ div {
            display: flex;
            gap: 10%;
            flex: auto;
            align-items: center;
            justify-content: flex-end;
        }

.user-string {
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Jost', sans-serif;

    transition: 2s;
}

    .user-string:hover {
        font-size: 1.75rem;
        text-decoration: underline;
    }
