.order-base {
    display: flex;
    width: 75%;
    flex: auto;
    flex-direction: column;
    gap: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.time-to-chippin-in {
    text-align: center;
}

    .time-to-chippin-in a {
        text-decoration: none;
        color: black;
        transition: .5s;
    }

        .time-to-chippin-in a:hover {
            color: deepskyblue;
        }

        .time-to-chippin-in a::after {
            content: '';
            width: 0px;
            height: 1px;
            display: block;
            background: black;
            transition: 0.6s ease-out;
        }

        .time-to-chippin-in a:hover::after {
            width: 100%;
        }

.order-base > * {
    font-family: 'Jost', sans-serif;
}

.order-table {
    border-spacing: 5px 1.15rem;
}

    .order-table .order-header {
        font-size: 1.15rem;
        text-align: left;
    }

        .order-table .order-header > tr > th {
            padding-left: 10px;
            border-left: 1px solid gray;
        }

            .order-table .order-header > tr > th:first-child {
                border-left: none;
            }

    .order-table tbody .order-td {
        border-left: 1px solid gray;
    }

.product-identify {
    display: flex;
    flex: auto;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    max-width: 256px;
}

    .product-identify img {
        max-width: 64px;
        border: 2.5px solid black;
    }

.product-info {
    text-align: center;
}

    .product-info > input {
        width: fit-content;
        max-width: 50%;
    }

.order-overview {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    font-size: 1.16rem;
}

.order-warning {
    font-size: 2rem !important;
    transition: 1s ease-in;
}

    .order-warning:hover {
        color: red;
        cursor: help;
        user-select: none;
    }

.order-control {
    align-self: center;
}

    .order-control > form {
        display: flex;
        flex: auto;
        flex-direction: column;
        gap: 16px;
        align-content: center;
    }

        .order-control > form > div {
            align-self: center;
        }

        .order-control > form > input[type="submit"] {
            align-self: center;
            max-width: 30%;
        }
